h4{
    text-align: right
}
.right_pre{
    text-align: right;
    white-space: pre;    
}
.italic{
    text-align: right;
    font-style: italic;
    
}
.bold_underline{
    font-family: 'Bad Script', cursive;
    text-decoration-line: underline;
    font-weight: bold    
}

.letter{
    text-indent: 15px;
    font-family: 'Bad Script', cursive;
    font-size: 16px;        
}